.login {
  width: 375px;
  height: 812px;
  background: #202021;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_header {
  width: 343px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.login_header img {
  cursor: pointer;
  margin-top: 15px;
}
/* .close {
  margin-left: 295px;
} */
/* .login_logo {
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: start;
} */
.login_reg {
  width: 285px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-family: "SF UI Display";
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  text-transform: uppercase;
}
.hover {
  text-decoration: none;
  color: #fefefe;
}
.hover:hover {
  border-bottom: 3px solid #00fbf4;
}
.hover:focus {
  border-bottom: 3px solid #00fbf4;
}
.hover:visited {
  border-bottom: 3px solid #00fbf4;
}
.loyal {
  width: 289px;
  margin-top: 23px;
  display: flex;
  align-items: start;
}
.loyal1 {
  margin-right: 4px;
}
.loyal2 {
  color: #828282;
  font-size: 10px;
  font-family: "SF UI Display";
  font-weight: 300;
  font-style: normal;
  line-height: 11.93px;
}
.reg_btn {
  width: 288px;
  height: 45px;
  color: #fefefe;
  background: #37373b;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-family: "SF UI Display";
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  cursor: pointer;
  margin-top: 22px;
}
