.partners {
  /* border: 1px solid blue; */
  height: 647px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_partners {
  color: #fefefe;
  font-size: 22px;
  font-family: "SF UI Display";
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  margin-top: 15px;
}
.partners_count {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 15px;
  margin-left: 55px;
}
.counterStyle1 {
  position: absolute;
  margin-top: -45%;
  margin-left: 5%;
  color: #ffffff;
}
.partners_text {
  color: #e1e1e1;
  font-size: 20px;
  font-family: "SF UI Display";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-left: 25px;
}
.counterStyle2 {
  position: absolute;
  margin-top: -45%;
  margin-left: 5%;
  color: #ffffff;
}
.partners_example {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.partners_example div {
  margin-bottom: 15px;
}
.become_partner {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.become_partner button {
  width: 287px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background: #37373b;
  color: #fefefe;
  font-size: 14px;
  font-family: "SF UI Display";
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  cursor: pointer;
}
