.landing {
  border: 1px solid blue;
}
.landing {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  background: #202021;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
