/* .carousel {
  width: 375px;
  height: 245px;
} */
@import "react-responsive-carousel/lib/styles/carousel.min.css";
.carousel .thumbs-wrapper {
  display: none;
}
/* .control-dots {
  color: #00fbf4;
}
.dot:hover {
  color: #00fbf4;
} */
/* li.selected {
  color: #00fbf4 !important;
} */
.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: #00fbf4;
  /* border: 1px solid #00fbf4; */
}
