/* .carousel {
  width: 375px;
  height: 245px;
} */

.carousel .thumbs-wrapper {
  display: none;
}
/* .control-dots {
  color: #00fbf4;
}
.dot:hover {
  color: #00fbf4;
} */
li.selected {
  color: #00fbf4 !important;
}
