.contactUs {
  width: 375px;
  height: 1269px;
  background: #202021;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner_logo {
  margin-top: 15px;
}
.partner_logo img {
  width: 343px;
}
.contactUs_text {
  width: 336px;
  height: 54px;
  margin-top: 41px;
  color: rgba(254, 254, 254, 0.7);
  font-size: 14px;
  font-family: "SF UI Text";
  font-weight: 300;
  font-style: normal;
  line-height: 18.2px;
}
.contact_btn {
  width: 288px;
  height: 45px;
  border-radius: 25px;
  border: none;
  color: #fefefe;
  background: #37373b;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
